<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>Add task</h2>
  <form action="/" name="add-task">
    <label>
      Name:
      <input type="text" name="name">
    </label>
    <label>
      Description:
      <textarea name="description"></textarea>
    </label>
    <label>
      Completed;
      <input type="checkbox">
    </label>
    <input type="submit" value="Create">
  </form>

  <script src="/js/common.js"></script> 
</body>
</html>