.tasks {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  .task {
    width: 300px;
    margin: 15px;
  }
}

.task {
  background-color: #fff;
  border-radius: 4px;
  padding: 12px;
  input[type="text"], textarea {
    display: block;
    width: 100%;
    border: 1px solid;
    border-color: rgba(#000, .15);
    outline: none!important;
    border-radius: 3px;
    padding: 10px;
    &:focus {
      border-color: #000;
    }
  }
  textarea {
    height: 250px;
  }
  &__block {
    &:not(:first-child) {
      margin-top: 15px;
    }
  }
}